.domain-configuration-list {
}

.domain-configuration {
    width: 500px;

    margin: 10px 15px;
    padding: 15px;

    border: 1px solid #33b;
    border-radius: 5px;
}

.domain-configuration-title {
    display: flex;
    justify-content: space-between;
    color: #777777;
}

.domain-configuration-title .domain-name {
    display: flex;

    flex-direction: row;
}

.feature-flag-list {
    margin-left: 10px;
}

.feature-flag-table {
    width: 100%;

    margin-bottom: 10px;
}

.feature-flag {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.feature-flag.even {
    background-color: #eee;
}

.delete-feature-flag-button {
    width: 150px;
    margin-left: 30px;
}

.add-feature-flag-caption {
    margin-right: 10px;
}

.no-feature-flags {
    font-style: italic;
    margin-bottom: 15px;
}

.domain-name {
    font-style: italic;
}

.delete-domain-button {
    width: 150px;
    margin-left: 30px;
}
